
.full-body{
  padding-top: 20px;
  height:80%;
  overflow: auto;
}

.loginForm {
  padding:30px;
  max-width:95%;
}

.row {
  margin-bottom: 0px;
}

.card-text{
  padding-bottom: 15px !important;
}

.brand-logo{
  padding-left: 20px;

}
