
<div class="full-body">
  <div class="z-depth-2 row loginForm">
    <div class="row">
      <div class="col s12 m12 l12">
        <div class="row center-align"> <h4 style="font-weight: bold; ">Choose a type of loan</h4> </div><br>
        <div class="row"></div>
      </div>

      <div class="col s112 m12 l12">
          <div class="row">
              <div class="col s3 m3 l3">
                <div class="card">
                  <div class="card-image">
                    <img src="assets/images/factoring/credit_personal.jpg">
                    <span class="card-title card-text" >Personal Loan</span>
                  </div>
                </div>
              </div>
              <div class="col s3 m3 l3">
                  <div class="card">
                    <div class="card-image">
                      <img src="assets/images/factoring/credit_imobiliar.jpg" >
                      <span class="card-title card-text ">Home Loan</span>
                    </div>
                  </div>
                </div>
                <div class="col s3 m3 l3">
                    <div class="card">
                      <div class="card-image" (click)="onClick()">
                        <img src="assets/images/factoring/credit_ipotecar.jpg" >
                        <span class="card-title card-text">Mortgage</span>
                      </div>
                    </div>
                  </div>
                  <div class="col s3 m3 l3">
                      <div class="card">
                        <div class="card-image">
                          <img src="assets/images/factoring/credit_card.jpg">
                          <span class="card-title card-text">Credit Card</span>
                        </div>
                      </div>
                    </div>
            </div>
      </div>
    </div>
  </div>
