.full-body{
  padding-top: 20px;
  padding-bottom: 40px;
  height:100%;
  overflow: auto;
}

.mainForm {
  padding:30px;

  max-width:95%;
}

.row {
  margin-bottom: 0px;
}

a{
  cursor: pointer;
  color: black;
}

.card-image{
  padding:5px;
}

.disabled{
  color:grey;
}

ul{
  list-style-type: circle;
}
