<div class="full-body">
  <div class="z-depth-2 row mainForm header">
    <div class="row">
      <h4 class="left" style="font-weight: bold;">RPA Challenges - internal use only</h4>
      <div class="col s12 m12 l12">
        <div class="row" style="padding-top: 20px !important;">
          <div class="col s12 m6 l3 ">
            <div class="card">
              <div class="card-image">
                <img src="./../../../assets/images/dashboard/inputFields.PNG">
              </div>
              <div class="card-content">
                <a href='http://rpachallenge.com/'>
                  <span class="card-title">Input Fields</span>
                  <div style=" font-size: 16px;   margin-top:10px; margin-bottom:10px;">
                    <span style="border: 2px solid grey; border-radius: 5px;padding:5px; ">UI Automation</span>
                  </div>
                  <p>Test your speed while entering data from an Excel file in an online form with a twist.</p>
                </a>
              </div>
              <div class="card-action">
                <a href='https://uipath-my.sharepoint.com/:u:/p/mihai_andrei/EeMj4r0tLMtGi_6tn2S0IngB964YZbqLCVfA_cF_Uy_6VQ?e=f71btc'
                  target="_blank">
                  <i class="material-icons">cloud_download</i>
                </a>
                <a href="https://uipath-my.sharepoint.com/:v:/p/mihai_andrei/Ea835kwAqBdMmVadSvL_kXQBlepVdobJZurpTb6uaxBI-w?e=abdyFp"
                  target="_blank">
                  <i class="material-icons">movie</i>
                </a>
              </div>
            </div>
          </div>
          <div class="col s12 m6 l3">
            <div class="card">
              <div class="card-image">
                <img src="./../../../assets/images/dashboard/ocr.png">
              </div>
              <div class="card-content">
                <a href="https://rpachallengeocr.azurewebsites.net/">
                  <span class="card-title">Invoice Extraction</span>
                  <div style=" font-size: 16px;   margin-top:10px; margin-bottom:10px;">
                    <span
                      style="border: 2px solid grey; border-radius: 5px;padding:5px; margin-right:10px;">Digitization</span>
                    <span style="border: 2px solid grey; border-radius: 5px;padding:5px; ">ABBYY</span>
                  </div>

                  <p>Extract information from various invoices by using OCR technologies.</p>
                </a>
              </div>
              <div class="card-action">
                <a href='https://uipath-my.sharepoint.com/:u:/p/mihai_andrei/EY5lEs5N6kdDowg8QfxEjosBrnjvXQhRKeWK_gZSaraWkw?e=SaxifG'
                  target="_blank">
                  <i class="material-icons">cloud_download</i>
                </a>
                <a href="https://uipath.sharepoint.com/sites/Sales_migrated/Shared%20Documents/00.%20Business%20Development/RFx/Snap%20Inc_/POC/Recordings/RPA%20Challenge.mp4"
                  target="_blank">
                  <i class="material-icons disabled">movie</i>
                </a>
              </div>
            </div>
          </div>
          <div class="col s12 m6 l3">
            <div class="card">
              <div class="card-image">
                <img src="./../../../assets/images/dashboard/shortestPath.PNG">
              </div>
              <div class="card-content">
                <a href="http://rpachallenge.com/assets/shortestPath/public/shortestpath.html">
                  <span class="card-title">Shortest Path</span>
                  <div style=" font-size: 16px;   margin-top:10px; margin-bottom:10px;">
                    <span style="border: 2px solid grey; border-radius: 5px;padding:5px; margin-right:10px;">UI
                      Automation</span>
                    <span style="border: 2px solid grey; border-radius: 5px;padding:5px; ">OCR</span>
                  </div>
                  <p>Find the shortest path in order to complete ship deliveries as fast as you can.</p>
                </a>
              </div>
              <div class="card-action">
                <a href='https://uipath-my.sharepoint.com/:u:/p/mihai_andrei/Edpkpw7uhfpMjM-FYoi3I0gBSRe8KUzPgsYJ7J0KBgAWkg?e=c1CVhH'
                  target='_blank'>
                  <i class="material-icons">cloud_download</i></a>
                <a href='https://uipath-my.sharepoint.com/:v:/p/mihai_andrei/EZAmbX3W-wxKhS_ZAWHVkKMBDmqfIPb7RlP6EC4fD14-WA?e=R9wI5D'
                  target='_blank'><i class="material-icons ">movie</i></a>
                <a (click)="openModalShortestPath()"><i class="material-icons">feedback</i></a>

              </div>
            </div>
          </div>
          <div class="col s12 m6 l3">
            <div class="card">
              <div class="card-image">
                <img src="./../../../assets/images/dashboard/movieSearch.PNG">
              </div>
              <div class="card-content">
                <a href='http://rpachallenge.com/movieSearch'>
                  <span class="card-title">Movie Search</span>
                  <div style=" font-size: 16px;   margin-top:10px; margin-bottom:10px;">
                    <span style="border: 2px solid grey; border-radius: 5px;padding:5px; margin-right:10px;">UI
                      Automation</span>
                    <span
                      style="border: 2px solid grey; border-radius: 5px;padding:5px; margin-right:10px;">Python</span>
                    <div class="hide-on-med-and-up row"><br></div>
                    <span style="border: 2px solid grey; border-radius: 5px;padding:5px; ">ML</span>

                  </div>
                  <p>Rate user's reviews for different movies and check which ones are good and which are bad.</p>
                </a>
              </div>
              <div class="card-action">
                <a target="_blank"
                  href="https://uipath-my.sharepoint.com/:u:/p/mihai_andrei/ET-BA2QuhENKjj-I4Gw_5w8B8q4EMuMfiruL3BrFh4xwBg?e=7dycIz">
                  <i class="material-icons">cloud_download</i></a>
                <a target="_blank"
                  href="https://uipath-my.sharepoint.com/:v:/p/mihai_andrei/Ee5gbeKpNstBrOYBXSOYh2cBDNH_PhnlKZ68nO2s6ktmkQ?e=QcxPgV">
                  <i class="material-icons">movie</i></a>
                <a (click)="openModalMovie()"><i class="material-icons">feedback</i></a>

              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row" style="padding-top:20px !important;"></div>
      <div class="col s12">
        <h4 class="left">Banking Solutions</h4>
      </div>
      <div class="col s12 m12 l12" style="padding-top: 20px !important;">
        <div class="col s3">
          <div class="card">
            <a [routerLink]="['/creditRequest']">
              <div class="card-image">
                <img src="./../../../assets/images/dashboard/creditRequest.PNG">
              </div>
              <div class="card-content">
                <span class="card-title">Credit Request</span>
                <p>Make new credit requests or connect as a bank agent and approve the requests.</p>
              </div>
            </a>
            <div class="card-action">
              <a href='https://uipath-my.sharepoint.com/:u:/r/personal/mihai_andrei_uipath_com/Documents/RPA%20Portal/Credit%20Request/CreditRequest.zip?csf=1&e=mIJAYS'
                target='_blank'><i class="material-icons">cloud_download</i></a>
              <a><i class="material-icons">movie</i></a>
              <a (click)="openModalCreditRequest()"><i class="material-icons">feedback</i></a>

            </div>
          </div>

        </div>

        <div class="col s3">
          <div class="card">
            <a [routerLink]="['/ticketing']">
              <div class="card-image">
                <img src="./../../../assets/images/dashboard/ticketing.png">
              </div>
              <div class="card-content">
                <span class="card-title">Ticketing Application</span>
                <p>Create new Service Requests in a ticketing system that will then be replicated in Service Now.</p>
              </div>
            </a>
            <div class="card-action">
              <a href='https://uipath-my.sharepoint.com/:u:/p/mihai_andrei/Ee2-uetLpB1BoMDdtU5BXXkBWDkpkNL_y1pnrGNuusri3Q?e=u4PFeL'
                target='_blank'><i class="material-icons">cloud_download</i></a>
              <a href="https://uipath-my.sharepoint.com/:v:/p/mihai_andrei/ESR_nsVkVCVHi4xaFyZ4aE4Bte3Yv2jmZILfafvejpkxSA?e=VUg0pw"
              target="_blank"><i class="material-icons">movie</i></a>
              <a ><i class="material-icons disabled">feedback</i></a>

            </div>
          </div>

        </div>

        <div class="col s3">

          <div class="card">
            <a [routerLink]="['/factoring']">
              <div class="card-image">
                <img src="./../../../assets/images/dashboard/factoring.PNG">
              </div>
              <div class="card-content">
                <span class="card-title">Factoring</span>
                <p>Upload new invoices to be financed and check if the company meets the expectations. </p>
              </div>
            </a>
            <div class="card-action">
              <a href="https://uipath-my.sharepoint.com/:f:/r/personal/mihai_andrei_uipath_com/Documents/RPA%20Portal/Factoring/UI_Factoring?csf=1&e=MZrJcD"
                target="_blank"><i class="material-icons">cloud_download</i></a>
              <a target="_blank"
                href="https://uipath-my.sharepoint.com/:v:/r/personal/mihai_andrei_uipath_com/Documents/RPA%20Portal/Factoring/factoring_video.mp4?csf=1&e=YwPyRy"><i
                  class="material-icons">movie</i></a>
              <a (click)="openModalFactoring()"><i class="material-icons">feedback</i></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="modalMovie" class="modal" materialize="modal" [materializeActions]="modalActionsMovie">
  <div class="modal-content">
    <div style="padding-bottom: 20px">
      <span style="font-weight:bold;font-size:24px;padding: 13px; ">Implement Movie Search</span>
      <i class="material-icons right modal-action modal-close " (click)="closeModalMovie()">close</i>
    </div>
    <div class="row">
      <span>!!! Changes need to be made in order to run it under personal machinge. Work in progress !!!</span><br>
      <span>In order to run the Movie Search process you will need to have the following things installed:
        <ul>
          <li>
            <a href="https://www.python.org/downloads/release/python-360/" target="_blank">
              - <span style="text-decoration: underline !important;">Python 3.5 x64</span> </a>
          </li>
          <li>
            - install the necessary dependencies by running the below .bat file
          <li>- depending on your Environment Configuration:</li>
          <li><b>a) First case (without Visual Studio installation)</b><br>
            install conda: https://repo.anaconda.com/archive/Anaconda3-2019.07-MacOSX-x86_64.pkg<br><br>

            from pytorch website, download the appropiate version of pytorch: https://pytorch.org/<br>

            to test that the installation of all dependencies was performed correctly, run in a cmd python
            main.py<br><br>

            the output should be:<br>
            C:\Users\uipathadmin\Desktop\sentiment\SentimentAnalysis>python main.py<br>
            <pre>
        Switch model from GPU to CPU
        WordLSTM1
        0 0.814129
        Name: predict, dtype: float32</pre><br>
          </li>
          <li>
            <b>b) Second Case (Visual Studio installed):</b><br>
            select appropriate version of pytorch: <br>
            pip install torch-version (version number here).whl<br>
            pip install torchvision<br>
          </li>
        </ul>
        <div class="row">
          <a class="btn teal" style="color:white;"
            href="https://uipath-my.sharepoint.com/:u:/r/personal/mihai_andrei_uipath_com/Documents/RPA%20Portal/RPA%20Challenge%20-%20Movie%20Search/installDependenciesMovieSearch.bat?csf=1&e=oN2DrI"
            target="_blank">
            Download dependencies</a>
        </div>
      </span>
    </div>
  </div>
</div>


<div id="modalShortestPath" class="modal" materialize="modal" [materializeActions]="modalShortestPath">
  <div class="modal-content">
    <div style="padding-bottom: 20px">
      <span style="font-weight:bold;font-size:24px;padding: 13px; ">Implement Shortest Path</span>
      <i class="material-icons right modal-action modal-close " (click)="closeModalMovie()">close</i>
    </div>
    <div class="row">
      <span>The attached workflow has been developed to run on Internet Explorer with a zoom of 110%. <br>
        This is an attended use case, so you will need to have the page open on the Shortest Path website.
        The process must be working in the background before pressing on Start.
        <br><br>
        As the process is using OCR, you might have to retake the images for the Find relative Image activites in the
        Get and Enter Data Workflow.
      </span>
    </div>
  </div>
</div>



<div id="creditRequest" class="modal" materialize="modal" [materializeActions]="modalActionsCreditRequest">
  <div class="modal-content">
    <div style="padding-bottom: 20px">
      <span style="font-weight:bold;font-size:24px;padding: 13px; ">Implement Credit Request workFlow</span>
      <i class="material-icons right modal-action modal-close " (click)="closeModalMovie()">close</i>
    </div>
    <div class="row">
      <span>
        The Credit Request workflow was built to showcase some of the tasks a bank agent does in the front office.
        In this workflow you can access only a credit option (Mortgage). <br>
        From there you can do the following tasks:

        <ul>
          <li>
            - search for users. For the sake of the Demo, only one user exists: John Doe.
          </li>
          <li>
            - update the user's data. The changed data will be saved locally and will restore after session refresh
          </li>
          <li>
            - ask for a new credit request.
          </li>
        </ul>
        This Showcase is made to integrate with a Druid Chatbot. You can personalize and run the
        workflow on your machine, but you will need to connect the Druid Platform to your orchestrator and to your
        robot. You can see a showcase of the integration on this the platform. The workflow will run on the below VM
        <ul>
          <li>
            Druid Platform: https://www.druidplatform.com/
          </li>
          <li></li>
          <li style="padding-left:10px">
            account: demo1
          </li>
          <li style="padding-left:10px">
            password: Druid12345!
          </li>
        </ul>

        Please make sure to check the attached video in order to understand the demo capabilities.<br>
        <div class="row">
          <a class="btn blue" href="./../../../assets/downloadFiles/DruidVM.rdp" target="_blank">Download RDP
            Connection</a>
        </div>
      </span>
    </div>
  </div>
</div>


<div id="modalFactoring" class="modal" materialize="modal" [materializeActions]="modalActionsFactoring">
  <div class="modal-content">
    <div style="padding-bottom: 20px">
      <span style="font-weight:bold;font-size:24px;padding: 13px; ">Implement Invoice Factoring</span>
      <i class="material-icons right modal-action modal-close " (click)="closeModalMovie()">close</i>
    </div>
    <div class="row">
      <span>
        The purpose of this app is to showcase a invoice factoring application.
        <br>You can connect as a company (user/user) or as a bank (bank/bank).
        <br><br> As a user, you can check your current requests and upload new invoices that need to be processed.
        <br><br> As a bank you can finance the user's requests taking in consideration some factors.
        <ul>
          <li>
            - the invoice cannot be a duplicate
          </li>
          <li>
            - for each company and buyer you will have a specific limit under which you can allow the requested invoice
          </li>

          <li>
            - you can finance only 85% of the requested amount
          </li>

          <li>
            - the company cannot be on a fraud list
          </li>
        </ul>

      </span>
    </div>
  </div>
</div>