<table class="striped">
  <thead>
    <tr>
      <th>ID</th>
      <th>Request Date</th>
      <th>Invoice No</th>
      <th>Invoice Amount</th>
      <th>Financed Amount</th>
      <th>Status</th>
      <th>Comment</th>

    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let invoice of invoices">
      <th>
        {{invoice._id}}
      </th>
      <th>
        {{invoice.requestDate | date}}
      </th>
      <th>
        {{invoice.invoiceNo}}
      </th>
      <th>
        {{invoice.invoiceAmount}}
      </th>
      <th>
        {{invoice.financedAmount}}
      </th>
      <th>
        {{invoice.status}}
      </th>
      <th>
        {{invoice.comment}}
      </th>
      <th>
          <a (click)="deleteInvoice(invoice)"><i class="material-icons" style="color: orangered">delete</i></a>
        </th>
    </tr>
  </tbody>
</table>

<br>
<a class="waves-effect col s3 m3 l2 btn uiColorButtons " (click)="openModal()">Add Invoice</a>


<div id="modal1" class="modal" materialize="modal" [materializeActions]="modalActions">
  <div class="modal-content">
    <div style="padding-bottom: 20px">
      <span class="left" style="font-weight:bold;font-size:24px;padding: 10px; ">Add a new invoice</span>
      <i class="material-icons right modal-action modal-close" (click)="closeModal()">close</i>
    </div>

    <div *ngIf="newInvoice" class="row col s12 m12 l12" style="padding-top: 15px;">
      <div class="left row col s12 m12 l12">
        <span class="col s6 m6 l6"><span style="font-weight: bold">Company Name: </span>
          {{company.companyName}}</span>
        <span class="col s6 m6 l6"><span style="font-weight: bold">Status: </span> {{newInvoice.status}}</span>
      </div>

      <div class=" row col s12 m12 l12" [formGroup]="inputForm">
        <div class="col s5 m5 l5">
          <label for="invoiceAmount">Invoice Amount</label>
          <input name="invoiceAmount" [ngModel]="newInvoice.invoiceAmount" formControlName="invoiceAmount">
        </div> <div class="col s1 m1 l1"></div>
        <div class="col s12 m12 l5">
          <label for="comment">Comment</label>
          <input name="comment" [ngModel]="newInvoice.comment" formControlName="comment">
        </div><br>


        <div class="row file-field input-field col s12 m12 l6 ">
          <div class="btn right uiColorSecondary">
            <span>Upload File</span>
            <input (change)="handleFileInput($event.target.files)" type="file">
          </div>


        </div>
        <div class="col s12 m12 l6">
          <input *ngIf="!fileUploaded" disabled="true" class="left row btn btn-small uiColorButtons" (click)="onSubmit()" type="submit" value="Submit">
          <input *ngIf="fileUploaded"  class="left row btn btn-small uiColorButtons" (click)="onSubmit()" type="submit" value="Submit">
        </div>

      </div>

    </div>
  </div>

</div>
