<div>
  <p>
    List of Available Companies
  </p>
  <div *ngFor="let company of companies">
    <a (click)="openCompany(company)">{{company.companyName}}</a>
  </div>
  <br>
  <a class="waves-effect col s12 m12 l12 btn uiColorButton" (click)="openModal()">Add a Company</a>

  <div id="modal" class="modal" materialize="modal" [materializeActions]="modalActions">
    <div class="modal-content">
      <div style="padding-bottom: 20px">
        <span style="font-weight:bold;font-size:24px;padding: 10px; ">Create a new Company</span>
        <i class="material-icons right modal-action modal-close" (click)="closeModal()">close</i>
      </div>

      <div [formGroup]="inputCompanyForm">
        <label class="col s5 m5 l5">Company Name: <input name="companyName" formControlName="companyName"></label>
        <div class="row">
          <label class="col s5 m5 l5">Company limit: <input name="companyLimit" formControlName="companyLimit"></label>
          <div class="col s2 m2 l2"></div>
          <label class="col s5 m5 l5">Buyer Risk (%): <input name="buyerRisk" formControlName="buyerRisk"></label>
        </div>
        
        <input type="checkbox" [checked]="labBank" id="labBank" name="labBank" />
        <label for="labBank">Is Immersion Lab bank</label>

        <div class=" file-field input-field col s12 m12 l6 ">
          <div *ngIf="fileUploaded==false" class="btn right uiColorSecondary">
            
            <span>Upload Logo</span>
            <input (change)="handleFileInput($event.target.files)" type="file">
          </div>

          <div *ngIf="fileUploaded" class="row" style="padding-top: 20px;"><br><br>
            <a class="waves-effect col s12 m12 l12 btn uiColorButton" (click)="createCompany()">Submit</a>
          </div>

          <div *ngIf="!fileUploaded" class="row" style="padding-top: 20px;"><br><br>
            <a class="waves-effect col s12 m12 l12 btn uiColorButton disabled" (click)="createCompany()">Submit</a>
          </div>

          <span *ngIf="companyExists" style="color:red;">A company with the same name already exists</span>
        </div>
      </div>


    </div>
  </div>

  <div *ngIf="selectedCompany" id="modal1" class="modal" materialize="modal"
    [materializeActions]="updateCompanyActions">
    <div class="modal-content">
      <div style="padding-bottom: 20px">
        <span style="font-weight:bold;font-size:24px;padding: 10px; ">Update company {{selectedCompany.companyName}}
        </span>
        <i class="material-icons right modal-action modal-close" (click)="closeModal()">close</i>
        <i class="material-icons right modal-action modal-close" (click)="deleteCompany()">delete</i>
        <div class="row class col s4 m4 l4"><img src="{{logoImage}}{{selectedCompany.companyLogo}}"
            style="width:7rem; padding-top: 2px;" /></div>

      </div>
      <span>ID: {{selectedCompany._id}}</span>
      <div style="padding-top: 10px;" [formGroup]="inputCompanyForm">
        <label class="col s5 m5 l5">Company Name: <input name="companyName" [(ngModel)]="selectedCompany.companyName"
            value='{{selectedCompany.companyName}}' formControlName="companyName"></label>
        <div class="row">
          <label class="col s5 m5 l5">Company limit: <input name="companyLimit"
              [(ngModel)]="selectedCompany.companyLimit" value='{{selectedCompany.companyLimit}}'
              formControlName="companyLimit"></label>
          <div class="col s2 m2 l2"></div>
          <label class="col s5 m5 l5">Buyer Risk (%): <input name="buyerRisk" [(ngModel)]="selectedCompany.buyerRisk"
              value='{{selectedCompany.buyerRisk}}' formControlName="buyerRisk"></label>
        </div>

        <div class=" file-field input-field col s12 m12 l6 ">
          <div *ngIf="fileUploaded===false" class="btn right uiColorSecondary">
            <span>Upload Logo</span>
            <input (change)="handleFileInput($event.target.files)" type="file">
          </div>


          <div class="row" style="padding-top: 20px;"><br><br>
            <a class="waves-effect col s12 m12 l12 btn uiColorButton" (click)="updateCompany()">Update</a>
          </div>
          <span *ngIf="companyExists" style="color:red;">A company with the same name already exists</span>
        </div>
      </div>


    </div>
  </div>



  <!-- <div [formGroup]="inputCompanyName">
    <label class="col s5 m5 l5">User Name: <input name="userName" formControlName="userName"></label>
    <div class="row"></div>
    <label class="col s5 m5 l5">Password <input type="password" [(ngModel)]="password"
        [ngModelOptions]="{standalone: true}"></label>
    <div class="col s2 m2 l2"></div>
    <label class="col s5 m5 l5">Confirm your Password <input type="password" [(ngModel)]="confirmPassword"
        [ngModelOptions]="{standalone: true}"></label>
    <div *ngIf="password!=confirmPassword" class="row">
      <span style="color:red">passwords do not match</span>
    </div>
  </div> -->