
.instructionsText{
  color: aliceblue;
  font-size:16px;
  padding-top: 20px;
}

.instructionsDiv{
  height: 110vh;
  background-size: 100%;
}

.uiColorButton{
  background-color: RGB(254,80,0);
}


