<nav>
    <div class="nav-wrapper blue darken-4">
        <a class="brand-logo">Your Ticketing System</a>

    </div>
</nav>

<ul id="slide-out" class="side-nav fixed">
    <li>
        <a [routerLink]="ServiceDesk"> Service Desk </a>
    </li>
    <li>
        <a [routerLink]="Incidents">Incidents</a>
    </li>
    <li>
        <a routerLink="../ServiceRequest" routerLinkActive="active">Service Request</a>
    </li>
    <li>
        <a [routerLink]="">Settings</a>
    </li>

</ul>
<a materialize="sideNav" [materializeParams]="[{edge:'left'}]" href="#" data-activates="slide-out"
    class="button-collapse show-on-large"><i class="mdi-navigation-menu"></i></a>



<div class="full-body row ">

    <div class="col s1 m1 l1" style="margin:20px;">
    </div>
    <div class="col s9 m9 l10">
        <h4>Service Desk Dashboard </h4>

        <div class="z-depth-2 card col s5 m5 l3" style="margin-top:50px;">
            <h5>Welcome, John!</h5><br>
            <span>You have: </span><br><span style="color :green">3 incidents submitted</span> <br>
            <span style="color :blue">{{tickets.length}} requests</span>
        </div>
        <div class="col s1 m1 l1" style="margin-top:50px;">

        </div>
        <div class="z-depth-2 card col s5 m5 l3 " style="margin-top:50px; text-align: center;">
            <br>
            <a>
                <h4>New time off request</h4><br>
            </a>

        </div>
        <div class="col s1 m1 l1" style="margin-top:50px;">
        </div>
        <div class="z-depth-2 card col s5 m5 l3 " style="margin-top:50px; text-align: center;">

            <h4>Performance review</h4><br>
            <a class="waves-effect waves-light btn left col s12 m12 l5  blue darken-3" style="margin-right: 10px;">Check
                Previous</a>
            <a class="waves-effect waves-light btn right col s12 m12 l5 blue darken-3">Submit new</a>


        </div>
        <br><br><br><br><br><br>
        <div class="row col s12 m12 l7 " style="margin-top: 100px;">

            <blockquote>
                Welcome to your Ticketing System. You can add new dashboards and configure your home screen by clicking
                the plus button <br>
                Please feel free to contact us at <a>support@ticketing@org</a> for any questions
                <a class=" row btn-floating btn-large waves-effect waves-light  button right red"><i
                        class="material-icons">add</i></a>
            </blockquote>
        </div>
    </div>

</div>