<div class="header ">
  <nav>
    <div class="nav-wrapper uiColorSecondary">
      <a class="brand-logo">Credit Request</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
          <li ><a [routerLink]="['../../creditRequest/creditList']"> Check Credits</a></li>
        <li>
          <a [routerLink]="['../../dashboard/']"> <i class="material-icons">home</i></a>
        </li>
      </ul>
    </div>
  </nav>
</div>

<div class="full-body">
  <div class="z-depth-2 row loginForm">
    <div class="row">
      <div class="col s8 m8 l7">
        <div class="row center-align">
          <form>
            <input type="text" class="form-control col s8 m8 l9" [(ngModel)]="searchStr" name="name"
              placeholder="Search client by last name">
            <button class="col s3 m3 l3" (click)="searchClient()" class="uiColorPrimary btn btn-primary btn-lg">Search</button>
          </form>

        </div>
        <div class="row"></div>
        <div *ngIf="showError" style="color:red"> user does not exist</div>
        <br>
      </div>
      <div *ngIf="client" class="">
        <div class=" col s12 m12 l6">
          <div class="row">
            <h5>Client Details</h5>
          </div>
          <div class="row">
            <span class="col s5 m5 l5"><span style="font-weight: bold">First Name: </span> {{client.firstName}}</span>
            <span class="col s5 m5 l5"><span style="font-weight: bold">Last Name: </span>{{client.lastName}}</span>
          </div>
          <div class="row">
            <span class="col s5 m5 l5"><span style="font-weight: bold">City: </span> {{client.city}}</span>
            <span class="col s5 m5 l5"><span style="font-weight: bold">Address: </span>{{client.address}}</span>
          </div>
          <div class="row">
            <span class="col s5 m5 l5"><span style="font-weight: bold">Phone: </span>{{client.phone}}</span>
            <span class="col s6 m6 l6"><span style="font-weight: bold">Email: </span>{{client.email}}</span>
          </div>

          <div class="row">
            <span class="col s5 m5 l5"><span style="font-weight: bold">Id Number: </span>{{client.serialNo}}</span>
            <span class="col s5 m5 l5"><span style="font-weight: bold">Id Validity: </span>{{client.validity}}</span>
          </div>

          <div class="row">
            <span class="col s8 m8 l8"><span style="font-weight: bold">CNP: </span>{{client.taxIdNo}}</span>

          </div>
          <br><br>

          <div class="row">
            <span class="col s5 m5 l5"><span style="font-weight: bold">Account RON: </span>{{client.accountRon | number : '1.2'}}</span>
            <span class="col s5 m5 l5"><span style="font-weight: bold">Account EUR: </span>{{client.accountEur | number : '1.2'}}</span>
          </div>
          <br>
          <div class="row">
            <button (click)="requestCredit()" class="uiColorPrimary btn btn-primary btn-lg">Update client data
              <i class="material-icons right">edit</i></button>
          </div>
        </div>
        <div class="row col s12 m12 l6">
          <div class="row">
            <h5>Credits</h5>

          </div>
          <div *ngIf="!showCredit" class="row">
            <span style="color:green"> No credits assigned to this client</span>
          </div>
          <div *ngIf="showCredit" class="row">
            <span style="color:green">New Credit submited for review</span>
            <br><br>
            <div class="row">
              <h5>Credit Details</h5>
            </div>
            <div class="row">
              <table class="striped">
                <thead>
                  <tr>
                    <th>Credit ID</th>
                    <th>Requested Amount</th>
                    <th>Credit Period</th>
                    <th>Status</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th>{{creditRequest.creditId}}</th>
                    <th>{{creditRequest.totalSum}}</th>
                    <th>{{creditRequest.period}}</th>
                    <th>{{creditRequest.status}}</th>
                  </tr>
                </tbody>
              </table>
            </div>

          </div><br>
          <div class="row" *ngIf="showApproval && !showCredit">
            <input type="checkbox" id="check1" [checked]="check1" (change)="check1 = !check1" />
            <label for="check1" class="black-text flow-text"> The user read the information regarding the processing of
              personal data </label>

            <div class="row"></div><br>
            <span style="font-weight: bold">The user agrees with:</span>
            <div class="row"></div>
            <input type="checkbox" id="check2" [checked]="check2" (change)="check2 = !check2" />
            <label for="check2" class="black-text flow-text">The processing of personal data by the Credit
              Bureau</label>
            <div class="row"></div>
            <input type="checkbox" id="check31" [checked]="check3" (change)="check3 = !check3" />
            <label for="check31" class="black-text flow-text"> Checking and processing his income data from ANAF </label>

            <div class="row"></div>
          </div>

          <button *ngIf="!showApproval && !showCredit" (click)="creditRequst()"
            class="uiColorPrimary btn btn-primary btn-lg">New credit request</button>
          <div class="row"></div><br>

          <button *ngIf="showApproval && !(check1 && check2 && check3) && !showCredit" disabled="true"
            (click)="creditRequst()" class="uiColorPrimary btn btn-primary btn-lg">New credit request</button>
          &nbsp;&nbsp;
          <button *ngIf="!check1 && showApproval && !showCredit " disabled="true"
            class="uiColorPrimary  btn btn-lg  btn-primary">Print GDPR</button>


          <button *ngIf="check1 && check2 && check3 && !showCredit " (click)="openModalCredit()"
            class="uiColorPrimary btn btn-primary btn-lg">New credit request</button> &nbsp;&nbsp;
          <button *ngIf="check1 && !showCredit " class="uiColorPrimary btn btn-primary btn-lg" (click)="printGDPR()">Print GDPR</button>
          <br>
        </div>
      </div>
    </div>

    <div id="modal2" class="modal" materialize="modal" [materializeActions]="modalActionsCredit">
      <div class="modal-content">
        <div style="padding-bottom: 20px">
          <span style="font-weight:bold;font-size:24px;padding: 10px; ">New credit request</span>
          <i class="material-icons right modal-action modal-close " (click)="closeModalUpdate()">close</i>
        </div>
        <div class="row">
          <div [formGroup]="creditForm">
            <div class="col s12 m12 l12">
                <div class="col s12 m12 l5">
                    <label for="creditId">Credit ID</label>
                    <input name="creditId" [(ngModel)]="creditRequest.creditId" value='{{creditRequest.creditId}}' formControlName="creditId">
                  </div>
                  <div class="col s12 m12 l1"></div>
                  <div class="col s12 m12 l5">
                    <label for="currencyCode">Currency Code:</label>
                    <input name="currencyCode" [ngModel]="creditRequest.currencyCode" formControlName="currencyCode">
                  </div>
              <div class="col s12 m12 l5">
                <label for="income">Monthly Income</label>
                <input name="income" [ngModel]="creditRequest.income" formControlName="income">
              </div>
              <div class="col s12 m12 l1"></div>
              <div class="col s12 m12 l5">
                <label for="personsNo">Number of persons</label>
                <input name="personsNo" [ngModel]="creditRequest.personsNo" formControlName="personsNo">
              </div>
              <div class="col s12 m12 l5">
                <label for="selectItem">Type of income</label>
                <select name="selectItem" materialize="material_select">
                  <option *ngFor="let option of selectOptions" [value]="creditRequest.incomeType">{{option}}</option>
                </select>
              </div>
              <div class="col s12 m12 l1"></div>
              <div class="col s12 m12 l5">
                <label for="taxes">Monthly Taxes</label>
                <input name="taxes" [ngModel]="creditRequest.taxes" formControlName="taxes">
              </div>

              <div class="col s12 m12 l5">
                <label for="totalSum">Sum requested - EUR</label>
                <input name="totalSum" [ngModel]="creditRequest.totalSum" formControlName="totalSum">
              </div>
              <div class="col s12 m12 l1"></div>
              <div class="col s12 m12 l5">
                <label for="period">Period(years)</label>
                <input name="period" [ngModel]="creditRequest.period" formControlName="period">
              </div>

            </div>
            <div class="row"><br></div>
            <div class="row">
              <button (click)="submitNewCreditRequest()" class="uiColorPrimary btn btn-primary btn-lg">Submit</button>
            </div>

          </div>
        </div>
      </div>
    </div>

    <div *ngIf="client" id="modal1" class="modal" materialize="modal" [materializeActions]="modalActionsUpdate">
      <div class="modal-content">
        <div style="padding-bottom: 20px">
          <span style="font-weight:bold;font-size:24px;padding: 10px; ">Update user's details</span>
          <i class="material-icons right modal-action modal-close " (click)="closeModalUpdate()">close</i>
        </div>
        <div class="row">
          <div [formGroup]="inputForm">
            <div class="col s12 m12 l4">
              <label for="firstName">First Name</label>
              <input name="firstName" [ngModel]="client.firstName" formControlName="firstName">
            </div>
            <div class="col s2 m2 l2"></div>
            <div class="col s12 m12 l5">
              <label for="lastName">Last Name</label>
              <input name="lastName" [ngModel]="client.lastName" formControlName="lastName">
            </div>

            <div class="col s12 m12 l4">
              <label for="city">City</label>
              <input name="city" [ngModel]="client.city" formControlName="city">
            </div>
            <div class="col s2 m2 l2"></div>
            <div class="col s12 m12 l5">
              <label for="address">Address:</label>
              <input name="address" [ngModel]="client.address" formControlName="address">
            </div>

            <div class="col s12 m12 l4">
              <label for="phone">Phone</label>
              <input name="phone" [ngModel]="client.phone" formControlName="phone">
            </div>
            <div class="col s2 m2 l2"></div>
            <div class="col s12 m12 l5">
              <label for="email">Email:</label>
              <input name="email" [ngModel]="client.email" formControlName="email">
            </div>

            <div class="col s12 m12 l4">
              <label for="serialNo">ID number</label>
              <input name="serialNo" [ngModel]="client.serialNo" formControlName="serialNo">
            </div>
            <div class="col s2 m2 l2"></div>
            <div class="col s12 m12 l5">
              <label for="validity">ID validity:</label>
              <input name="validity" type="text" [ngModel]="client.validity" formControlName="validity">
            </div>

            <div class="col s12 m12 l5">
              <label for="taxIdNo">CNP</label>
              <input name="taxIdNo" [ngModel]="client.taxIdNo" formControlName="taxIdNo">
            </div>
            <div class="row"></div>
            <input class="btn uiColorPrimary" (click)="onSubmit()" type="submit" value="Submit">
          </div>
        </div>
      </div>
    </div>

  </div>
