

.full-body{
  padding-top: 20px;
  height:90%;
  overflow: auto;
}

.loginForm {
  padding:30px;
  max-width:95%;
}

.row {
  margin-bottom: 0px;
}

.button-space{
  padding: 10px;
}

.brand-logo{
  padding-left: 20px;

}
