<app-nav-bar *ngIf="appTitle" [title]="appTitle"></app-nav-bar>
<div *ngIf="company" class="full-body">
  <div class="z-depth-2 row loginForm">
    <div class="row">
      <div class="col s2 m2 l2 ">
        <span class="row " style="margin-bottom: 22px; padding-left: 20px;">Welcome {{user.userName}}!</span>
        <div class="row"><img src="{{logoImage}}{{company.companyLogo}}" style="width:9rem; vertical-align:bottom;" /></div>
      </div>

      <div *ngIf="invoices" class="col s10 m10 l10">
        <div class="row col s12 m12 l12">
          <span class="col s3 m3 l3"><span style="font-weight: bold">Total Number of Invoices: </span>
            {{invoices.length}}</span>
          <span class="col s2 m2 l2"><span style="font-weight: bold; color: orange">Pending: </span>{{pendingNo}}</span>
          <span class="col s2 m2 l2"><span style="font-weight: bold; color: green">Financed:
            </span>{{financedNo}}</span>
          <span class="col s2 m2 l2"><span style="font-weight: bold; color: blue">Reimbursed:
            </span>{{reimbursedNo}}</span>
          <span class="col s2 m2 l2"><span style="font-weight: bold; color: red">Refused: </span>{{refusedNo}}</span>
        </div>
        <br>
        <div class="row col s12 m12 l12" style='margin-top:20px;'>
          <span class="row col s12 m12 l12 center">Approved credit limit of: {{company.companyLimit}}</span><br><br>
          <div class="row col s1 m1 l1 valign-wrapper"></div>
          <div class="row col s10 m10 l10 center progress">
            <div class="determinate" [style.width.%]="rangeValue"></div>
          </div>
          <div class="row col s1 m1 l1 right valign-wrapper"></div>
        </div>
      </div>
    </div>
  </div>

  <div style="padding-top:20px;"></div>
  <div class="center-align z-depth-2 row loginForm">
    <div class="row">
      <div class="col s12 m12 l12">
        <app-invoices-list (invoicesLoaded)="getLoadedInvoices($event)"></app-invoices-list>
      </div>
    </div>
  </div>
</div>
