<div class="header ">
  <nav>
    <div class="nav-wrapper uiColorSecondary">
      <a class="brand-logo" [routerLink]="['../../creditRequest']" >Credit Request</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
          <li ><a [routerLink]="['../../creditRequest/creditList']"> Check Credits</a></li>
        <li>
          <a [routerLink]="['../../dashboard']"> <i class="material-icons">home</i></a>
        </li>
      </ul>
    </div>
  </nav>
</div>
<div class="full-body">
  <div class="z-depth-2 row loginForm">
    <div class="row">
      <div class="col s12 m12 l12">
        <div class="row" *ngIf="creditOffer">
          <div class="row ">
            <h5 style="font-weight: bold; ">Global Tax Values</h5>
          </div>
          <div class="row col s12 m12 l12">
            <div [formGroup]="inputForm">
              <div class="col s3 m3 l3">
                <label for="analysisFee">Analysis Fee</label>
                <input name="analysisFee" [(ngModel)]="creditOffer.analysisFee" value='{{creditOffer.analysisFee}}'
                  formControlName="analysisFee">
              </div>
              <div class="col s3 m3 l3">
                <label for="dae">DAE</label>
                <input name="dae" [(ngModel)]="creditOffer.dae" value='{{creditOffer.dae}}' formControlName="dae">
              </div>
              <div class="col s3 m3 l3">
                <label for="insuranceRate">Insurance Rate</label>
                <input name="insuranceRate" [(ngModel)]="creditOffer.insuranceRate"
                  value='{{creditOffer.insuranceRate}}' formControlName="insuranceRate">
              </div>
              <div class="col s3 m3 l3">
                <label for="otherFees">Other Fees</label>
                <input name="otherFees" [(ngModel)]="creditOffer.otherFees" value='{{creditOffer.otherFees}}'
                  formControlName="otherFees">
              </div>
            </div>
          </div>
          <div class="row"></div><br>
          <div class="row ">
            <h5 style="font-weight: bold; ">List of Credit Requests </h5>
          </div>
          <div *ngIf="creditList"></div>
            <div class="row">
              <table class="striped">
                <thead>
                  <tr>
                    <th>Credit ID</th>
                    <th>Client Name</th>
                    <th>Client Income</th>
                    <th>Period</th>
                    <th>Sum Requested</th>
                    <th>Status</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let credit of creditList">
                    <th>
                      {{credit.creditId}}
                    </th>
                    <th>
                      {{credit.clientName}}
                    </th>
                    <th>
                      {{credit.income}}
                    </th>


                    <th>
                      {{credit.period}}
                    </th>
                    <th>
                      {{credit.totalSum}}
                    </th>
                    <th>
                      <span *ngIf="credit.status=='Pending'" style="color: orange"> {{credit.status}}</span>
                      <span *ngIf="credit.status=='Offer made'" style="color:blue"> {{credit.status}}</span>
                      <span *ngIf="credit.status=='Offer accepted'" style="color:green"> {{credit.status}}</span>
                    </th>
                    <th>
                      <a  *ngIf="credit.status!=='Offer accepted'" (click)="deleteCredit(credit)"> <i class="material-icons left">delete</i> </a>

                    </th>
                    <th>
                      <a *ngIf="credit.status=='Offer made'" (click)="acceptCredit(credit)"> <i
                        class="material-icons right">done</i> </a>
                    </th>
                    <th>
                      <button class="btn uiColorPrimary right" (click)="openModalOffer(credit)">See more
                        details</button>
                    </th>

                  </tr>
                </tbody>
              </table>

              <div *ngIf="selectedCredit" id="modal1" class="modal" materialize="modal"
                [materializeActions]="modalActionsOffer">
                <div class="modal-content">
                  <div style="padding-bottom: 20px">
                    <span style="font-weight:bold;font-size:24px;padding: 13px; ">Create client Offer</span>
                    <i class="material-icons right modal-action modal-close " (click)="closeModalOffer()">close</i>
                  </div>
                  <div [formGroup]="offerForm" class="row">
                    <div class="col s12 m12 l12">
                      <span class="col s5 m5 l5"><span style="font-weight: bold">Client Name:
                        </span>{{selectedCredit.clientName}}</span>
                      <span class="col s5 m5 l5"><span style="font-weight: bold">Income:
                        </span>{{selectedCredit.income}}</span>
                      <span class="col s5 m5 l5"><span style="font-weight: bold">Sum Requested:
                        </span>{{selectedCredit.totalSum}}</span>
                      <span class="col s5 m5 l5"><span style="font-weight: bold">Number of persons:
                        </span>{{selectedCredit.personsNo}}</span>
                      <span class="col s5 m5 l5"><span style="font-weight: bold">Credit Period:
                        </span>{{selectedCredit.period}}</span>
                      <span class="col s5 m5 l5"><span style="font-weight: bold">Currency:
                        </span>{{selectedCredit.currencyCode}}</span>

                      <div class="row"></div>
                      <div class="row"></div>
                      <div class="row"></div><hr>
                      <span class="col s12 m12 l12" style="font-weight:bold;font-size:24px;padding: 13px; ">Taxes</span>
                      <br>
                      <span class="col s5 m5 l5"><span style="font-weight: bold">Analysis Fees:
                        </span>{{selectedCredit.analysisFee}}</span>
                      <span class="col s5 m5 l5"><span style="font-weight: bold">Insurance Rate:
                        </span>{{selectedCredit.insuranceRate}}</span>
                      <div class="row"></div>
                      <span class="col s5 m5 l5"><span style="font-weight: bold">DAE:
                      </span>{{selectedCredit.dae}}</span>
                    <span class="col s5 m5 l5"><span style="font-weight: bold">Other fees:
                      </span>{{selectedCredit.otherFees}}</span>
                      <br>
                      <div class="row"></div>
                      <div class="row"></div>
                      <div class="row"></div><hr><br>

                      <span class="col s5 m5 l5"><span style="font-weight: bold">Monthly Payment:
                      </span>{{selectedCredit.monthlyPayment | number : '1.0'}}</span>
                    <span class="col s5 m5 l5"><span style="font-weight: bold">Total Payment Amount:
                      </span>{{selectedCredit.totalPaymentAmount | number : '1.0'}}</span>

                      <br>
                      <div class="row">
                        <span class="col s5 m5 l12  "><span style="font-weight: bold">Total Received Amount:
                        </span>{{selectedCredit.totalReceivedAmount | number : '1.0'}}</span>
                      </div>

                    </div>
                  </div><br>
                  <div class="row"></div>
                  <div class="row"></div>
                  <div class="row"></div>
                  <div class="row">
                    <input class="btn uiColorPrimary " (click)="createOffer()" type="submit" value="Submit">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
