
.full-body{
  padding-top: 20px;
  padding-bottom: 20px;
  height:90%;
  overflow: auto;
}

.loginForm {
  padding:30px;
  max-width:95%;
}

.row {
  margin-bottom: 0px;
}

span{
  font-size: 18px;
}

.brand-logo{
  padding-left: 20px;

}
