<nav>
    <div class="nav-wrapper blue darken-4">
        <a class="brand-logo">Your Ticketing System</a>

    </div>
</nav>

<ul id="slide-out" class="side-nav fixed">
    <li>
        <a routerLink="" routerLinkActive="active"> Service Desk </a>
    </li>
    <li>
        <a routerLink="../" routerLinkActive="">Incidents</a>
    </li>
    <li>
        <a routerLink="../ServiceRequest" routerLinkActive="active">Service Request</a>
    </li>
    <li>
        <a routerLink="">Settings</a>
    </li>

</ul>
<a materialize="sideNav" [materializeParams]="[{edge:'left'}]" href="#" data-activates="slide-out"
    class="button-collapse show-on-large"><i class="mdi-navigation-menu"></i></a>



<div class="full-body row ">
    <div class="col s1 m1 l1" style="margin:20px;">
    </div>
    <div class="z-depth-2 card col s9 m9 l10">
        <h4>Your Service requests </h4>

        <table class="striped" style="margin-top: 50px;">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Rquest </th>
                    <th>employeeEmail</th>
                    <th>Status</th>
                    <th>More Details</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let ticket of tickets ; let i=index">
                    <th> {{ticket.id}}</th>
                    <th> {{ticket.item}}</th>
                    <th> {{ticket.employeeEmail}}</th>
                    <th> {{ticket.status}}</th>
                    <th> <button class="btn small" (click)="onMoreDetails(ticket)">more details</button></th>
                </tr>
            </tbody>
        </table>
        <a class=" row btn-floating btn-large waves-effect waves-light  button right red" (click)="onNewTicket()"><i
                class="material-icons">add</i></a>
    </div>






    <div id="modal2" class="modal" materialize="modal" [materializeActions]="newModalActions">
        <div class="modal-content">
            <div style="padding-bottom: 20px">
                <span style="font-weight:bold;font-size:24px;padding: 13px; ">Service request</span>

            

            </div>
            
        </div>
    </div>

    <div  id="modal1" class="modal" materialize="modal" [materializeActions]="modalActions">
        <div class="modal-content">
            <div style="padding-bottom: 20px">
                <span style="font-weight:bold;font-size:24px;padding: 13px; ">Service request</span>

                <i class="material-icons right modal-action modal-close " (click)="closeModal()">close</i>

            </div>
            <div [formGroup]="inputForm" class="row">
                <div class="col s12 m12 l12">
                    <div class="row col s12 m12 l12">
                        <div class="col s5 m5 l5">
                            <span style="font-weight: bold; padding-right: 15px;">Ticket id</span> <span
                                id="ticketId">{{selectedTicket.id}}</span>
                        </div>
                        <div class="col s5 m5 l5">
                            <span style="font-weight: bold; padding-right: 15px;">Due Date: </span> <span
                                id="dueDate">{{selectedTicket.dueDate}}</span>
                        </div>
                        <br><br>
                        <div class="col s5 m5 l5">
                            <span style="font-weight: bold; padding-right: 15px;">Item ordered: </span> <span
                                id="item">{{selectedTicket.item}}</span>
                        </div>
                        <div class="col s5 m5 l5">
                            <span style="font-weight: bold; padding-right: 15px;">Quantity: </span> <span
                                id="quantity">{{selectedTicket.quantity}}</span>
                        </div>
                        <br><br>
                        <div class="col s5 m5 l5">
                            <span style="font-weight: bold; padding-right: 15px;">Employee: </span> <span
                                id="employeeEmail">{{selectedTicket.employeeEmail}}</span>
                        </div>
                        <div class="col s5 m5 l5">
                            <span style="font-weight: bold; padding-right: 15px;">Description: </span> <span
                                id="description">{{selectedTicket.description}}</span>
                        </div>

                        <br><br><br>
                        <div class="col s5 m5 l5">
                            <span style="font-weight: bold; padding-right: 15px;">Ticket status: </span> <span
                                id="status">{{selectedTicket.status}}</span>
                        </div>


                    </div>
                </div>
            </div>
        </div>
    </div>
</div>