.brand-logo{
    padding-left: 20px;
  }
  
  
  .full-body{
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    height:90%;
    overflow: auto;
  }
  
  .card {
    padding:20px;
  
  }
  
  nav{
      max-height:64px;
  }
  .row {
    margin-bottom: 0px;
  }

  
.side-nav {
    margin-top: 65px;
    width: 200px;
}

li.active {
  background-color: #ee6e73
}
  