<nav>
  <div class="nav-wrapper uiColorSecondary">
    <a class="brand-logo">{{title}}</a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li><a (click)="goToProfile()"> <i class="material-icons">account_circle</i></a></li>
      <li><a  (click)="disconnectUser()">Logout</a></li>

    </ul>
  </div>
</nav>
