<app-nav-bar [title]="appTitle" [type]="clientType"></app-nav-bar>

<div class="full-body">
  <div class="z-depth-2 row loginForm header">
    <div class="row">

      <div *ngIf="invoices && companies" class="col s12 m12 l2 ">
        <div class="row "><span style="font-weight: bold">Number of Companies: </span>
          <span>{{companies.length}}</span>
        </div>
        <div><span style="font-weight: bold">Number of Invoices: </span>
          <span id="totalInvoices">{{serverInvoices.length}}</span>
        </div><br>
        <a (click)="sortInvoiceList('Pending')" class="row "><span
            style="font-weight: bold; color: orange; padding-right:5px;">Pending:</span>
          <span id="pendingNumber">{{pendingNo}}</span>
        </a>

        <a (click)="sortInvoiceList('Financed')" class="row"><span
            style="font-weight: bold; color: green; padding-right:5px;">Financed:</span>
          <span id="financedNumber">{{financedNo}}</span>
        </a>
       

        <a (click)="sortInvoiceList('Reimbursed')" class="row ">
          <span style="font-weight: bold; color: blue; padding-right:5px;">Reimbursed:</span>
          <span id="reimbursedNo">{{reimbursedNo}}</span>
        </a>
        <a (click)="sortInvoiceList('ForApproval')" class="row"><span
          style="font-weight: bold; color: teal; padding-right:5px;">For Approval:</span>
        <span id="financedNumber">{{forApproval}}</span>
       </a>
        <a (click)="sortInvoiceList('Refused')" class="row "><span
            style="font-weight: bold; color: red; padding-right:5px;">Refused:</span>
          <span id="refusedNo">{{refusedNo}}</span></a>
      </div>

      <div class="col s10 m10 l10 companies">
        <div *ngFor="let company of companies; let i=index " class="col companyCard z-depth-3">
          <div class="row class col s4 m4 l4"><img src="{{logoImage}}{{company.companyLogo}}"
              style="width:7rem; padding-top: 2px;" /></div>

          <div class="row class col s7 m7 l7" id="{{i}}" style="padding-left:15px;">
            <a (click)="searchCompany(company.companyName)"><span class="right"
                style="font-weight: bold; font-size: 20px;">{{company.companyName}}</span></a>
            <div class="row" style="padding-top:35px;">
              <span style="font-weight: bold; font-size: 15px;">Company Limit: </span>
              <span style=" font-size: 15px; ">{{company.companyLimit}}</span>
            </div>
            <div class="row">
              <span style="font-weight: bold; font-size: 15px;">Risk per Buyer: </span>
              <span style="font-size: 15px; " id="'buyerRisk'+{{i}}">{{company.buyerRisk}}%</span>
            </div>

          </div>
        </div>

      </div>

    </div>
  </div>

  <div style="padding-top:20px"></div>
  <div class="center-align z-depth-2 row loginForm">
    <div class="col s12 m12 l12 center-align" style="padding-bottom: 12px;">
      <div class="col s4 m4 l4"></div>
      <form class="col s8 m8 l8">
        <input type="text" class=" col s4 m4 l4" name="name" #searchCompanyValue placeholder="Search a company">
        <button (click)="searchCompany(searchCompanyValue.value)" style="margin-left:25px;"
          class=" left uiColorPrimary btn btn-primary btn-small">Search</button>
        <button style="margin-left: 10px;" (click)="getAllInvoices()"
          class=" uiColorPrimary left btn btn-primary btn-small">Get All Invoices</button>
      </form>

    </div>
    <div class="row">
      <div class="col s12 m12 l12">
        <table class="striped" id="invoiceTable">
          <thead>
            <tr>
              <th>ID</th>
              <th>Company Name</th>
              <th>Seller Name</th>
              <th>Buyer Name</th>
              <th>Request Date</th>
              <th>Invoice No</th>
              <th>Invoice Amount</th>
              <th>Financed Amount</th>
              <th>Risk Per Buyer</th>
              <th>Credit Bureau</th>
              <th>Duplicity Check</th>
              <th>Status</th>
              <th>Comment</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let invoice of invoices ; let i=index">
              <th>
                {{i + 1}}
              </th>
              <th>
                {{invoice.companyName}}
              </th>
              <th>
                {{invoice.sellerName}}
              </th>
              <th>
                {{invoice.buyerName}}
              </th>
              <th>
                {{invoice.requestDate | date}}
              </th>
              <th>
                {{invoice.invoiceNo}}
              </th>
              <th>
                {{invoice.invoiceAmount}}
              </th>
              <th>
                {{invoice.financedAmount}}
              </th>
              <th class="center-align">
                <input class="center-align" type="checkbox" id="'risk'+{{i}}" [checked]="invoice.buyerRisk"
                  (change)="invoice.buyerRisk = !invoice.buyerRisk" />
                <label for="'risk'+{{i}}" class="black-text flow-text"> </label>
              </th>
              <th class="center-align">
                <input class="center-align" type="checkbox" id="'creditBureau'+{{i}}" [checked]="invoice.creditBureau"
                  (change)="invoice.creditBureau = !invoice.creditBureau" />
                <label for="'creditBureau'+{{i}}" class="black-text flow-text"> </label>
              </th>
              <th class="center-align">
                <input type="checkbox" id="{{invoice._id}}" [checked]="invoice.duplicity"
                  (change)="invoice.duplicity = !invoice.duplicity" />
                <label for="{{invoice._id}}" class="black-text flow-text"> </label>
              </th>
              <th>
                {{invoice.status}}
              </th>
              <th>
                {{invoice.comment}}
              </th>
              <th>
                <a *ngIf="invoice.status==='Pending' || invoice.status==='ForApproval'" (click)="editInvoice(invoice)"><i class="material-icons"
                    style="color: blue">edit</i></a>
                <a *ngIf="invoice.status==='Financed'" (click)="reimbursedOFfer(invoice)"><i class="material-icons"
                    style="color: green">done</i></a>
              </th>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>




<div id="modal1" class="modal" materialize="modal" [materializeActions]="modalActions">
  <div class="modal-content">
    <div style="padding-bottom: 20px">
      <span style="font-weight:bold;font-size:24px;padding: 13px; ">Create Client Offer for -
        {{selectedInvoice.companyName}}</span>

      <i class="material-icons right modal-action modal-close " (click)="closeModal()">close</i>
      <i class="material-icons right modal-action modal-close " (click)="saveChanges()">save</i>
      <i class="material-icons right modal-action modal-close"  (click)="sentToApproval()">account_circle</i>

    </div>
    <div [formGroup]="inputForm" class="row">
      <div class="col s12 m12 l12">
        <div class="row col s12 m12 l12">
          <div class="col s5 m5 l5">
            <span style="font-weight: bold; padding-right: 15px;">Credit Limit Per Company:</span> <span
              id="creditLimit">{{companyLimit}}</span>
          </div>
          <div class="col s1 m1 l1"></div>
          <span class="col s5 m5 l5"><span style="font-weight: bold; padding-right: 15px; ">Request made on:
            </span>{{selectedInvoice.requestDate | date }}</span>
        </div>

        <div class="col s12 m12 l12" style="padding-top: 40px; padding-bottom: 25px;">
          <span class="col s4 m4 l4 left" style="font-weight:bold;font-size:16px; ">Invoice Details </span>
        </div>
        <div class="col s12">
          <label for="companyName">Seller Name</label>
          <input name="companyName" [(ngModel)]="selectedInvoice.sellerName" value='{{selectedInvoice.sellerName}}'
            formControlName="sellerName">
        </div>

        <div class="col s12 m12 l4">
          <label for="invoiceNo">Invoice Number</label>
          <input name="invoiceNo" [(ngModel)]="selectedInvoice.invoiceNo" value='{{selectedInvoice.invoiceNo}}'
            formControlName="invoiceNo">
        </div>

        <div class="col s12 m12 l4">
          <label for="buyerName">Buyer Name</label>
          <input name="buyerName" [(ngModel)]="selectedInvoice.buyerName" value='{{selectedInvoice.buyerName}}'
            formControlName="buyerName">
        </div>


        <div class="col s12 m12 l4">
          <label for="invoiceDate">Invoice Date</label>
          <input name="invoiceDate" [(ngModel)]="selectedInvoice.invoiceDate" value='{{selectedInvoice.invoiceDate}}'
            formControlName="invoiceDate">
        </div>

        <div class="col s12 m12 l4">
          <label for="invoiceAmount">Requested Amount</label>
          <input name="invoiceAmount" [(ngModel)]="selectedInvoice.invoiceAmount"
            value='{{selectedInvoice.invoiceAmount}}' formControlName="invoiceAmount">

        </div>

        <div class="col s12 m12 l4">
          <label for="financedAmount">Financed Amount</label>
          <input name="financedAmount" [(ngModel)]="selectedInvoice.financedAmount"
            value='{{selectedInvoice.financedAmount}}' formControlName="financedAmount">
        </div>

        <div class="col s12 m12 l4">
          <label for="comment">Comment</label>
          <input name="comment" [(ngModel)]="selectedInvoice.comment" value='{{selectedInvoice.comment}}'
            formControlName="comment">
        </div>

        <div class="row col s12 m12 l12" style="padding-top:20px;">
          <div class="col s3 m3 l3">
            <input class="center-align" type="checkbox" id="{{selectedInvoice.comment}}"
              [checked]="selectedInvoice.buyerRisk" (change)="selectedInvoice.buyerRisk = !selectedInvoice.buyerRisk" />
            <label for="{{selectedInvoice.comment}}" class="black-text flow-text">Buyer Risk</label>
          </div>
          <div class="col s3 m3 l3">
            <input class="center-align" type="checkbox" id="{{selectedInvoice.invoiceFile}}"
              [checked]="selectedInvoice.creditBureau"
              (change)="selectedInvoice.creditBureau = !selectedInvoice.creditBureau" />
            <label for="{{selectedInvoice.invoiceFile}}" class="black-text flow-text">Credit Bureau Check </label>
          </div>
          <div class="col s3 m3 l3">
            <input type="checkbox" id="{{selectedInvoice._id}}" [checked]="selectedInvoice.duplicity"
              (change)="selectedInvoice.duplicity = !selectedInvoice.duplicity" />
            <label for="{{selectedInvoice._id}}" class="black-text flow-text">Duplicity Check</label>
          </div>
        </div>



        <div class="col s12 m12 l12" style="margin-top: 30px;">
          <div class="col s12 m12 l3">
            <a href="https://uipath509.westeurope.cloudapp.azure.com:443/api/v1/downloadFile/?fileName={{selectedInvoice.invoiceFile}}"
              class="uiColorSecondary btn btn-primary btn-lg">Download Invoice</a>
          </div>

          <div class="col s12 m12 l3">
            <a class="uiColorPrimary btn btn-primary btn" (click)="submitOffer()">Submit Offer</a>
          </div>



          <div class="col s12 m12 l6">
            <a class="uiColorPrimary right btn btn-primary btn" (click)="cancelOffer()">Refuse Offer</a>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>