.full-body{
  padding-top: 20px;
  height:90%;
  overflow: auto;
}

.loginForm {
  padding:30px;
  max-width:95%;
}

.row {
  margin-bottom: 0px;
}

.companyCard{
  margin-left: 20px;
  min-width: 400px;
  padding-bottom: 30px;
  min-height: 150px;

}


.companies{
  padding-top: 10px;
  display: flex;
  overflow-x: auto;
  padding-bottom: 30px;

}
